@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about this Sinbadsoft's Usermanagemnt please visit its <a href="https://github.com/Sinbadsoft/Sinbadsoft.Lib.UserManagement" title="Sinbadsoft.Lib.UserManagement">project page</a>.
</p>
