<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonkeyOrm.MySql" version="0.4.3.0" targetFramework="net40" />
  <package id="MySql.Data" version="6.5.4" targetFramework="net40" />
  <package id="NUnit" version="2.6.0.12054" targetFramework="net40" />
  <package id="Sinbadsoft.Lib.Model" version="0.7.0.0" targetFramework="net40" />
</packages>